/*CUSTOM CSS STYLES - MOSTLY OVERWRITED FROM MAIN.MIN.CSS*/
/*Reginald Miranda*/

.row.header{
	height: 60px;
	background-color:#FF5722;
	margin-bottom: 0px !important;
}

.row.header .meta .page{
	color:#F6F6F6 !important;
}

.row.header .user>.item{
	height: 0px !important;
}

.row.header .user>.item img{
	width: 25px;
    height: 25px;
    margin-top: 10px;
}



#sidebar-wrapper{
	background-color: #01579B;
}

#page-wrapper:not(.open) ul.sidebar .sidebar-title.separator, .sidebar-footer, ul.sidebar .sidebar-list a:hover, ul.sidebar .sidebar-main a{
	background-color: #01579B;
}

#page-wrapper:not(.open) ul.sidebar .sidebar-list a:hover span{
	border-left: 3px solid #01579B;	
}


ul.sidebar .sidebar-title{
	color:#F6F6F6 !important;
}

ul.sidebar .sidebar-list a{
	color:#F6F6F6 !important;	
}

ul.sidebar .sidebar-list a:hover{
	color: #4285F4 !important;
    border-left: 3px solid #4285F4;
}









.information{
	color: #757575;
	font-size: 12px;
	font-weight: 0;
	margin-top: 3px;
}

.fa-user-circle-o{
	color:#F6F6F6;
}




.widget .widget-body.medium{
	height: 100% !important;
}

td:nth-child(3){
	color: #FF9800 !important;
}