
<div>
	<div class="row">
		<button class="btn-default">Campaign Performance</button>
		<button class="btn-default">Briefing Report</button>
		<button class="btn-default">Model Control Panel</button>
	</div>

	<div class="row">
		<div class="panel panel-info col-md-3" >
		    <div class="panel-heading">Filter</div>
		    <div class="panel-body">
		    	<h6>Choose Filters</h6>
				<div class="item dropdown">
				<a href="#" class="dropdown-toggle">
					<i class="fa fa-bell-o"></i>
				</a>
				<ul class="dropdown-menu dropdown-menu-right">
					<li class="dropdown-header">
						Notifications
					</li>
					<li class="divider"></li>
					<li>
						<a href="#">Server Down!</a>
					</li>
				</ul>
			</div>
		</div>
		 </div>
		 <div class="panel panel-info col-md-6" >
		    <div class="panel-heading">Campaign Performance</div>
		    <div class="panel-body">Panel Content</div>
		 </div>
		 <div class="panel panel-info col-md-3" >
		    <div class="panel-heading">Ad Video Campaign Placement</div>
		    <div class="panel-body">Panel Content</div>
		 </div>
	</div>

</div>