<!-- Sidebar -->
<div id="sidebar-wrapper">
  <ul class="sidebar">
    <li class="sidebar-main">
      <a ng-click="$ctrl.toggleSidebar()">
        Dashboard
        <span class="menu-icon glyphicon glyphicon-transfer"></span>
      </a>
    </li>
    <li class="sidebar-title"><span>NAVIGATION</span></li>
    <li class="sidebar-list">
      <a href="#">Dashboard <span class="menu-icon fa fa-tachometer"></span></a>
    </li>
    <li class="sidebar-list">
      <a href="#/tables">Tables <span class="menu-icon fa fa-table"></span></a>
    </li>
  </ul>
  <div class="sidebar-footer">
    <div class="col-xs-4">
      <a href="https://github.com/rdash/rdash-angular" target="_blank">
        Github
      </a>
    </div>
    <div class="col-xs-4">
      <a href="https://github.com/rdash/rdash-angular/blob/master/README.md" target="_blank">
        About
      </a>
    </div>
    <div class="col-xs-4">
      <a href="#">
        Support
      </a>
    </div>
  </div>
</div>
<!-- End Sidebar -->

<div id="content-wrapper">
  <div class="page-content">

    <!-- Header Bar -->
                <div class="row header">
                    <div class="col-xs-12">
                        <div class="user pull-right">
                            <div class="item dropdown" uib-dropdown>
                                <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                                    <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li class="dropdown-header">
                                        Joe Bloggs
                                    </li>
                                    <li class="divider"></li>
                                    <li class="link">
                                        <a href="#">
                                            Profile
                                        </a>
                                    </li>
                                    <li class="link">
                                        <a href="#">
                                            Menu Item
                                        </a>
                                    </li>
                                    <li class="link">
                                        <a href="#">
                                            Menu Item
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li class="link">
                                        <a href="#">
                                            Logout
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="item dropdown" uib-dropdown>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li class="dropdown-header">
                                        Notifications
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="#">Server Down!</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="meta">
                            <div class="page">
                                <img src="http://placehold.it/250x45" class="img-responsive">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Header Bar -->

    <!-- Main Content -->
    <div class="row">
		<div class="col-lg-12 information">
			<i class="fa fa-info" aria-hidden="true"></i>&nbsp; <label>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec nunc id nisi elementum bibendum sit amet vitae elit.</label>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<rd-widget>
	      		<rd-widget-body classes="medium no-padding">
					<div class="table-responsive">
						<table class="table">
							<tbody>
								<thead>
									<tr>
										<td>Start Date</td>
										<td>Campaign ID</td>
										<td>Campaign Name</td>
										<td>Media</td>
										<td>Campaign Goal</td>
									</tr>
								</thead>

								<tr>
									<td>October 10</td>
									<td>19349</td>
									<td>"Don't Stop Moving Campaign"</td>
									<td>YouTube</td>
									<td>Learn more/Education</td>
								</tr>

								<tr>
									<td>October 20</td>
									<td>19350</td>
									<td>"Don't Stop Moving Campaign"</td>
									<td>YouTube</td>
									<td>Learn more/Education</td>
								</tr>

								<tr>
									<td>November 10</td>
									<td>19351</td>
									<td>"Don't Stop Moving Campaign"</td>
									<td>Email</td>
									<td>Promotional for new pricing</td>
								</tr>
								<tr>
									<td>November 20</td>
									<td>19352</td>
									<td>"Don't Stop Moving Campaign"</td>
									<td>Facebook</td>
									<td>Promotional for new pricing</td>
								</tr>
							</tbody>
						</table>
					</div>
				</rd-widget-body>
			</rd-widget>
		</div>
	</div>


  </div>
  <!-- End Page Content -->
</div>
<!-- End Content Wrapper -->
